@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .hidden_ {
    display:block;
    visibility: visible;
    opacity: 1;
    transition:  visibility 0s 1s, opacity .6s linear;
  },
  .rotate_180{
    transfrom : rotateZ(180deg)
    tran
  }

}
@layer utilities {
  .scrollbar-medium::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #e9e9e9;
    border-radius: 50px;
  };
  
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
